{% extends '@shared/base.html.twig' %}

{% block title %}
    Guest - Welcome!
{% endblock %}

{% block content %}
    <h1>Welcome, guest!</h1>
    <p>
      This is intense development site on stack - <i>LAMP</i>. Hosted on
      state of the art - <b>cutting edge</b> <a href="https://pbgroupeu.com" target="_self">pbgroupeu</a> incorporated enviroment.
    </p>
{% endblock %}
