{% extends '@shared/base.html.twig' %}

{% block title %}Administration - basic dashboard{% endblock %}

{% block content %}
  {{ parent() }}
  <h4>Basics</h4>
  {% include('@admin/dashboard/basic-ETL.html.twig') %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="text/javascript" src="/dist/administrator.js">
  </script>
{% endblock %}
